body 
{
	margin: 0px;
	overflow-y: hidden;
	color: white;
	padding:0%;
}
header 
{
	background-color: #141414;
	width: 100vw;
	padding-bottom: 0px;
	padding-top: 3px;
	display: flex;
}
main 
{
	background-size: cover;
	height: 100%;
	width: 100%;
	padding-bottom: 0px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	    "itemone itemtwo itemthree"
		"itemfour itemfive itemsix"
		"itemseven itemeight itemnine";
	align-items: center;
	background-image: url("../images/backgroundblur.jpg");
}
h1 
{
	width: 40%;
	margin: 0px;
	padding-left: 20px;
}
#navbar 
{
	width: 60%;
}
#navbar-list 
{
	list-style-type: none;
	overflow-x: hidden;
	padding: 0px;
	margin-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navli 
{
	float: right;
}
.navli a 
{
	display: block;
	text-align: center;
	padding: 14px 25px;
	color: white;
	text-decoration: none;
}
.navli a:hover 
{
	color: #5E5E5E;
}
.navli::after 
{
	content: "";
	display: block;
	transition: transform 0.4s;
	width: 100%;
	height: 2px;
	background-color: #4E4E4E;
	transform: scaleX(0);
	transform-origin: bottom right;
}
.navli:hover::after 
{
	background-color: #4E4E4E;
	color: #4E4E4E;
	transform: scaleX(1);
	transform-origin: bottom left;
}

.scrolly
{
	height: 96%;
	position: absolute;
	width:auto;
	right: 20px;
	margin: 0 auto;
	padding-top: 20px;
	display: grid;
	gap: 20px;
	overflow-y: scroll;
}

.scrolly::-webkit-scrollbar 
{ 
	width: 0 !important;
}

#aboutus
{
	position: sticky;
	top: 20px;
	color: white;
	background-color: rgb(190, -0, 35);
	width: 300px;
	height: 300px;

	margin: 0 auto; 
	border-radius: 25px; 
	border: 2px solid medium; 
	padding: 5px;
	font-family: Geneva;
	text-align: center;
	margin-bottom: 20px;

	display: grid;
	justify-content: center;
	align-items: center;
}

#hours
{
	position: sticky;
	top: 20px;
	color:white;
	background-color: rgb(190, -0, 35);	
	width: 300px;
	height: 300px;
	
	margin: 0 auto; 
	border-radius: 25px; 
	border: 2px solid medium; 
	padding: 5px;
	font-family: Geneva;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

#hours a {
    text-decoration: none;
}
#hours a:link, a:visited {
    color: white;
}
#hours a:hover {
    color: white;
}

#location
{
	position: sticky;
	top: 20px;
	color: white;
	background-color: rgb(190, -0, 35);
	width: 300px;
	height: 300px;

	margin: 0 auto; 
	border-radius: 25px; 
	border: 2px solid medium; 
	padding: 5px;
	font-family: Geneva;
	text-align: center;

	display: grid;
	justify-content: center;
	align-items: center;
}

#services
{
	position: sticky;
	top: 20px;
	color:white;
	background-color: rgb(190, -0, 35);	
    width: 300px;
	height: 300px;

	margin: 0 auto; 
	border-radius: 25px; 
	border: 2px solid medium; 
	padding: 5px;
	font-family: Geneva;
	text-align: center;

	display: grid;
	justify-content: center;
	align-items: center;
}

#spacehaver
{
	background-color: none;	
	width: 300px;
	height: 600px;

	display: grid;

}

#bigside
{
	position: absolute;
	width: 75%;
	margin: 0 auto;
	padding-top: 90px;
	left: 0px;
	display: grid;
	gap: 20px;

}

#welcome
{
	top: 20%;
	color: white;
	height: 75vh;
	width: 75vh;
	background-color: darkolivegreen;
	background-size: cover;
	margin: 0 auto;
	font-size: 40px;
	border-radius: 25px; 
	border: 25px solid rgb(208, 137, 42); 
	padding: 5px; 
	font-family: chalkduster;

	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
}


footer 
{
	background-color: #141414;
	margin: 0px;
}

#copyrightinfo 
{
	margin: 0px;
}
